html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eee;
}
#map {
    height: 700px;
    width: 100%;
}
.place {
    overflow-y: scroll;
    max-height: 700px;
    box-sizing: border-box;
}
.place .box {
    background-color: #fff;
    width: 47%;
    height: 300px;
    display: inline-block;
    margin: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba( 0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.place .img-wrapper {
    position: relative;
}
.place .img-wrapper img {
    width: 100%;
    height: 150px;
}
.place .img-wrapper .price {
    bottom: 0;
    left: 0;
    margin: 5;
    position: absolute;
}
.place .img-wrapper .price div {
    line-height: 0.8;
    margin-bottom: 3px;
    padding: 5px 5px 5px;
    box-sizing: border-box;
    background: none repeat 0 0 rgba(0, 0, 0, .5);
    color: #fff;
}
.place .img-wrapper .price .price-per-hour {
    width: 60%;
}
.place .box .description {
    margin: 5px;
}
.place .box .description .top-icons div,
.place .box .description .facilities div {
    display: inline-block;
}